<html>
	<head>
		<title>Chirp Vue</title>		
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>	
		<script src="javascripts/chirpVue.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body id="router-example">
		<div id='main' class="container">
			<nav class="navbar-fluid navbar-default navbar-fixed-top">
				<div class="container">
					    <a class="navbar-brand" href="#"> Chirp! </a>
					    <p class="navbar-text"> Learn the MEAN stack by building this tiny app</p>
						<p class="navbar-right navbar-text" v-show="!authenticated">
							<router-link to="/login">Login</router-link> or
							<router-link to="/register">Register</router-link>
						</p>
					    <p class="navbar-right navbar-text" v-show="authenticated">
							<a href="#" v-on:click="signout()">Logout</a>
						</p>
					    <p class="navbar-right navbar-text" v-show="authenticated">
							Signed in as {{current_user}}
						</p>		
				</div>
			</nav>
			<div class="col-md-offset-2 col-md-8">
				<router-view></router-view>
			</div>
		</div>
	</body>
</html>