
<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
<h1 style="text-align: center;" class="card-title">Chat en tiempo real</h1>
    <form>
        <div class="card" style="width: 28rem;margin:auto;padding:5rem;">
            <div class="card-body">
                <h5 class="card-title">Chat de ejemplo</h5>
                <div class="form-group">
                    <input 
                        ng-model="usuario.nombre"
                        class="form-control" 
                        id="baslik"
                        type="text" 
                        placeholder="nombre" />
                </div>
                <div class="form-group">
                    <input 
                        ng-model="usuario.mensaje"
                        class="form-control" 
                        id="mesaj" 
                        type="text" 
                        placeholder="mesaje" />
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button 
                        ng-click="enviar()" 
                        id="gonder" 
                        type="button" 
                        class="btn btn-primary">
                        Enviar mensaje
                    </button>
                    <button id="gonder" type="reset" class="btn btn-warning">Limpiar</button>
                </div>
                
                
            </div>
        </div>
    </form>
    <div class="card" style="width: 28rem;margin:auto;padding:5rem;">
        <div class="card-body">
            <h5 class="card-title">Chat en tiempo real</h5>
            <div id="chat-window">
                <div id="output"></div>
                <div id="feedback"></div>
            </div>
        </div>
    </div>
    <!-- <script src="./javascripts/chat.js"> </script> -->
    <script>
        var socket = io.connect('http://localhost:3000');

var   mesaj = document.getElementById('mesaj'),
      baslik = document.getElementById('baslik'),
      btn = document.getElementById('gonder'),
      output = document.getElementById('output'),
      feedback = document.getElementById('feedback');


btn.addEventListener('click', function(){
  socket.emit('chat', {
      mesaj: mesaj.value,
      baslik: baslik.value
  });
  mesaj.value = "";
});

mesaj.addEventListener('keypress', function(){
    socket.emit('yaziyor', baslik.value);
})

socket.on('chat', function(data){
    feedback.innerHTML = '';
    output.innerHTML += '<p><strong>' + data.baslik + ': </strong>' + data.mesaj + '</p>';
});

socket.on('yaziyor', function(data){
    feedback.innerHTML = '<p><em>' + data + ' yazıyor...</em></p>';
});
    </script>